/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.container {
  margin: auto;
}
.container.c-70 {
  width: 70%;
}

.container.c-70 {
  width: 60%;
}
/* /general */

/* Typo */
a {
  text-decoration: none;
}
/* /Typo */

/* buttons */
.nav-btn {
  padding: 15px 12px;
  border-radius: 5px;
}

.btn-bordered {
  border: 1px solid #ff7a59;
  color: #ff7a59;
}

.btn-orange {
  background-color: #ff7a59;
  color: #fff;
}
/* /buttons */

/* header */
.header-nav a {
  color: #33475b;
}
header li {
  display: inline-block;
}

header li:not(:last-child) {
  margin-right: 30px;
}

.header-top {
  background-color: #f4f9fE;
  padding: 30px 0;
}

.header-top nav {
  display: inline-block;
  width: 48%;
}

.top-left-nav li{
  padding: 5px 30px;
}

.top-left-nav li:first-child{
  padding-left: 0;
  border-right: 1px solid #899397;
  margin: 0;
}

.top-left-nav span {
  padding: 0 8px;
}

.top-right-nav {
  text-align: right;
}

.top-right-nav .fas {
  color: #00A4BF;
}



/* /header */

/* main */
/* /main */

/* footer */
/* /footer */
